CREATE DATABASE Agent
GO
USE Agent
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 07.12.2021 14:22:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type_Of_Agent] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Logo] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[Priority] [nvarchar](50) NULL,
	[Director] [nvarchar](50) NULL,
	[INN] [nvarchar](50) NULL,
	[KPP] [nvarchar](50) NULL,
 CONSTRAINT [PK_Agents] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agents] ON 

INSERT [dbo].[Agents] ([ID], [Type_Of_Agent], [Name], [email], [Phone], [Logo], [Address], [Priority], [Director], [INN], [KPP]) VALUES (1, N'МКК', N'МонтажОрионУрал', N'pzaitev@blokin.org', N'35222673926', N'\agents\agent_96.png', N'027573, Тамбовская область, город Коломна, ул. Ленина, 20', N'50', N'Давыдоваа Нина Евгеньевна', N'1692286718', N'181380912')
INSERT [dbo].[Agents] ([ID], [Type_Of_Agent], [Name], [email], [Phone], [Logo], [Address], [Priority], [Director], [INN], [KPP]) VALUES (2, N'МКК', N'МетизСтрой', N'kristina.pakomov@burova.ru', N'88001726256', N'\agents\agent_94.png', N'254238, Нижегородская область, город Павловский Посад, проезд Балканская, 23', N'374', N'Ева Борисовна Беспалова', N'4024742936', N'295608432')
INSERT [dbo].[Agents] ([ID], [Type_Of_Agent], [Name], [email], [Phone], [Logo], [Address], [Priority], [Director], [INN], [KPP]) VALUES (3, N'ОАО', N'РадиоСевер', N'maiy.belov@rogov.ru', N'4953688651', N'\agents\agent_123.png', N'491360, Московская область, город Одинцово, въезд Ленина, 19', N'431', N'Карпов Иосиф Максимович', N'5889206249', N'372789083')
SET IDENTITY_INSERT [dbo].[Agents] OFF
GO
USE [master]
GO
